.image-upload {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 60%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-upload-progress {
  width: 100%;
}

.image-upload > progress,
textarea {
  margin-bottom: 20px;
}

.image-upload textarea {
  padding: 10px;
}
